.git
.gitignore

node_modules
tmp
log
coverage
spec
test

.env
.env.*
!.env.example

storage
public/packs
public/assets
vendor/bundle
.bundle

.vscode
.idea
.DS_Store

docker-compose.yml
docker-compose*.yaml
